@font-face {
    font-family: myFont;
    src: url('Cmc7.ttf') format('truetype');
  }
  
  .cmc7 {
    font-family: myFont;
  }
  
.print-format p{
  margin:3px 0px 14px;
}

legend {
  margin-bottom: 0rem;
}